<h1> Course </h1>
<br>
<div class="image123">
    <div class="imgContainer">
        <p><%= link_to 'Breakfast Recipes', category_breakfast_path %>
        <img src="https://40.media.tumblr.com/66a9b7e1c9e88f78064687347f67fced/tumblr_o4i19yX4Lz1rlqdmro1_500.jpg"/ height="200" width="200"/>
        </p>
    </div>
    <br>
    <div class="imgContainer">
        <p><%= link_to 'Dinner Recipes', category_dinner_path %>
        <img class="middle-img" src="https://36.media.tumblr.com/fb80371e227f4b8a8f799414165fe11b/tumblr_o44t95rQrc1rssnioo1_500.jpg"/ height="200" width="200"/>
        </p>
    </div>
    <br>
    <div class="imgContainer">
        <p><%= link_to 'Dessert Recipes', category_dessert_path %>
         <img src="https://40.media.tumblr.com/217f4eb8fbc0516c83db0dd0c0a449b5/tumblr_o5mfnngQJO1rpwhvdo1_500.jpg"/ height="200" width="200"/>
         </p>
    </div>
    <br>
</div>






