<h1><em>Num Nom</em></h1>
<br>
<ul>
    <% @posts.each do |post| %>
    <li>
        <strong> <%= post.name %> </strong>
        <br>
        <% if post.image.present? %>
        <%= image_tag post.image.url(:medium) %>
    </li>
    <br>
    <% end %>
    <br>
    <%= link_to "Recipe", post_path(post) %>
    <br>
    <%= link_to "Add Comment", post_path(post) %>


    <% end %>
</ul>









