h1,h2{
  margin: 0px 0px 0px 498px;
}

ul{
  margin: 0px 0px 0px 495px;
}
p{
  margin: 0px 0px 0px 495px;

}
.field{
  margin: 0px 0px 0px 495px;

}

.commentbox{
  background-color: grey;
}
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
