
.logo-text.large{
    float: none;
    color: rgba(244, 67, 54, 0.75);
    font-size: 46px;
    padding-top: 61px;

}
.logo-text{
    overflow: hidden;
    margin: auto;
    width: 330px;
    height: 165px;
    padding: 0;
}// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
